.ProductsList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:3vh; 
    justify-items: center;
    align-items: center;
    padding:5vh;
    
}



.Product{
    height: 400px;
   
}

.ProductImage{
    max-width: 18vw;

 
    
    &:hover{
        transform: scale(1.01);
        transition: transform 0.75s ease-in-out;
    }
}


.Link{
    all:unset;
    text-decoration: none;
}


.MetaDescripcion{
    
    //background-color: black;
    border:1.5px solid #bca559;
    color:#bca559;
    font-size: 1.1vw;
    //font-weight: bold;
    &:hover{
        box-shadow: inset 0 -100px 0 -1px #bca559;
        transition: box-shadow 1.5s ease-in-out;
        color: #333843;
        border: 2px solid #bca559;
    }
}
@media (max-width: 750px){
  
    .ProductsList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:2vh; 
        justify-items: center;
        align-items: center;
        padding:5vh;
    }

    
.MetaDescripcion{
    
    background-color: black;
    color:white;
     font-size: 0.8em;
     padding: 1em;
}
}



@media (max-width: 750px){
  
    .ProductsList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:2vh; 
        justify-items: center;
        align-items: center;
        padding:5vh;
    }

    
.MetaDescripcion{
    
    background-color: black;
    color:white;
     font-size: 0.8em;
     padding: 0.4em;
}

}





@media (max-width: 625px){
  
    .ProductsList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:2vh; 
        justify-items: center;
        align-items: center;
        padding:5vh;
    }

    
.MetaDescripcion{
    
    background-color: black;
    color:white;
     font-size: 0.6em;
     padding: 0.4em;
}

}





@media (max-width: 475px){
  
    
.MetaDescripcion{
    
    background-color: black;
    color:white;
     font-size: 0.4em;
     padding: 0.2em;
}

}