@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap');


.ProductsPage{
    background-color: #333843;
    min-width:100vw;
}
.Tittle{
    color:#bca559;
    padding:1vh;
    border-bottom: 1.5px solid #bca559;
    font-family: 'Sedgwick Ave Display', cursive;
    letter-spacing: 3px;
    font-size: 7vh;
   
}

.TypeSearching{
    width: 100vw;
    height: 250px;
    background-image: url("../pictures//Products\ View/JordanBanner.jpg");
    background-size:cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items:bottom;

    & .TypeButton{
        width: 15vw;
        height: 7vh;
        margin-top:25vh;
        margin-left:4vw;
        color:#bca559;
        background-color: rgba($color: #000000, $alpha: 0.5);
        border: 1px solid #bca559;
        font-size: 1.5rem;
        font-weight: bold;
        &:hover{
            transform: scale(1.2);
            transition: transform 1s ease-in-out;
        }

    }
}

.BrandBanner{
 height: 10vh;
 margin: 0;
 padding:1vh;
 background-color:#808080;
 display:grid;
 grid-template-columns: repeat(3,1fr);
 justify-items: center;
 grid-gap: 1vh;
 border-bottom:3px solid #cb2226;
 & div{
     height: 10vh;
     width: 10vh;
     }

     & .Jordan{
        background-image: url("../pictures/ProductsCat/Jordan1.png");
        background-size: cover;
        &:hover{
            background-image: url("../pictures/ProductsCat/Jordan2.png");
        }
     }
     & .Adidas{
        background-image: url("../pictures/ProductsCat/Adidas1.png");
        background-size: cover;
        &:hover{
            background-image: url("../pictures/ProductsCat/Adidas2.png");
        }
     }

     & .Fila{
        background-image: url("../pictures/ProductsCat/Fila1.png");
        background-size: cover;
        &:hover{
            background-image: url("../pictures/ProductsCat/Fila2.png");
        }
    }
}