.Container{
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.sidebarleft{
    background-image: url("../pictures/shop_izq.jpg");
    background-size: cover;
    height:70vh;
}


.content{
   background-color: rgba($color: #073A77, $alpha: 0.5);
    height:70vh;
    display:grid;
    grid-template-rows:1fr 3fr;

    & .title{
        color:white;
        border-bottom: 1px solid white;
        }
    & .form{
        display: flex;
        flex-direction: column;
        align-items: center;
      


        & .formField{
           
            display:grid;
            grid-template-rows: 1fr 1fr;
            padding-top: 4vh;
           
            & input{
                width: 30vw;
                
            }
        }

         & .label{
            color:white;
           text-align: justify;
           padding-bottom: 1vh;
        }

        & .FormButtons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 31vw;
            
            & label{
                margin-top:3.5vh;
            }
            & .FormButton {
                height: 7vh;
                width: 10vw;
                
                background-color: #073a77;
                 color:white;
                border-radius: 5%;
                border: 2px solid white;
                margin-top: 2vh;
                
                &:hover{
                    box-shadow: inset 0 -100px 0 -1px white;
                    transition: box-shadow 1.5s ease-in-out;
                    color: #073a77;
                    border: 2px solid #073a77;
                }
                }

        }
    }
}


.sidebarrigth{
    background-image: url("../pictures/shop_der.jpg");
    background-size: cover;
    height:70vh;
}